* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #a8bdb4;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.card {
  background-color: #d9d9d9;
  width: 100%;
  max-width: 1200px;
  border-radius: 30px;
  padding: 25px; /* era 40px */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.title {
  color: #2f5d50;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.box {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}



.form-row {
  display: flex;
  gap: 10px;
}

.form-row input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  flex: 1;
}

.qty {
  max-width: 70px;
  text-align: center;
}

.form-row button {
  background-color: #7fa69a;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.form-row button:hover {
  opacity: 0.9;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.medicine-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.medicine-item span {
  padding: 10px 15px;
}

.medicine-qty {
  background-color: #e5e5e5;
  min-width: 40px;
  text-align: center;
}

.right input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.upload p {
  margin-bottom: 8px;
  color: #2f5d50;
}

.upload-box {
  border: 2px dashed #ccc;
  padding: 30px;
  text-align: center;
  border-radius: 12px;
  color: #888;
  position: relative;
  cursor: pointer;
}

.upload-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

.generate {
  width: 100%;
  background-color: #7fa69a;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.generate:hover {
  opacity: 0.9;
}

/* Responsivo */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: 30px; /* controla o espaço entre as duas boxes */
}

.related-box {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.related-title {
  color: #2f5d50;
  font-size: 22px;
  margin-bottom: 15px;
}